.c-content-box {    
  padding-bottom: -6em;

}
.c-hobbie-box{ 
  margin-left: -40px;
}

.c-content-box__subheadline--with-button {
  display: inline;   
  margin-right: 70px;

}  

@media screen and (min-width: $media-width-L) {

}  

@media screen and (min-width: $media-width-XL) {
  .c-content-box {    
    max-width: 46rem;
    margin: 0 auto;
  }   
}    