.c-main-header {
  justify-content: space-between;
  margin: 0.9rem auto 0;
  max-width: $page-max-width;

}

.c-main-header__logo {
  border: none;
  float: left;
  margin-right:0em;;
  transition: all .3s;

  &:hover {
    border: none;
    transform: scale(1.1);
  }
} 

.c-main-header__nav {
  float: right;
  position: relative;
 // background-color:rgba(136, 255, 0, 0.356);
}


@media screen and (min-width: $media-width-S) {

}

@media screen and (min-width: $media-width-XL) {

}
@media only screen and (min-width: 360px) and (max-width: 767px) { /* Your Styles... */ }